@media only screen and (min-width:200px) and (max-width:575px) {
    header {
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        padding: 10px;
    }

    .headerleft {
        justify-content: center;
    }

    .logo {
        padding: 10px;
    }

    .header-address {
        padding: 10px;
    }

    .header-address p {
        font-size: 10px;
    }

    .header-address h3 {
        font-size: 18px;
    }

    .headerbtn {
        position: fixed;
        width: 100%;
        margin-right: 0px;
        justify-content: center;
        bottom: 0px;
        background-color: white;
    }

    .bannersection {
        display: none;
    }

    .orderbanner {
        padding: 10px;
        flex-direction: column;
    }

    .category {
        flex-basis: 25%;
    }

    .productitem {
        flex-basis: 48%;
    }

    .productsection {
        padding-left: 25px;
        padding-right: 24px;
    }

    .usefullinks {
        padding-left: 25px;
    }

    /* Hide footer section on mobile */

    .ending ,
    .footermidleft,
    .footer-categories {
        display: none;
    }
}
